.profile {
    margin-top: 50px;
}

.profile__wrapper {
    padding: 50px;
    margin: 0 auto;
    width: 500px;
    border-radius: 10px;
    background-color: #F4F4F4;
}

.add-post-btn {
    padding: 12px;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    background-color: #000000;
    color: #F4F4F4;
}
