.hero-section {
    margin-top: 40px;
}

.hero-section__wrapper {
    display: flex;
    margin-top: 80px;
}

.hero-section__explore {
    width: 328px;
    margin-right: 50px;
}

.hero-section__explore-title {
    color: #474747;
}

.hero-section__explore-text {
    color: #474747;
}

.hero-section__posts-list {
    list-style: none;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 0;
    width: 730px;
}

.hero-section__posts-item {
    padding-bottom: 15px;
    border-bottom: 2px solid #DFDFDF;
}

.hero-section__item-wrapper {
    display: flex;
    justify-content: space-between;
}

.hero-section__item-title {
    margin: 0;
    padding: 0;
    width: 500px;
    font-weight: 600 !important;
    font-size: 18px;
    color: #474747 !important;
}

.hero-section__item-wrapper {
    color: #69686877;
}

.hero-section__item-user {
    color: #69686877;
}