.header__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.logo-text {
    margin-left: 15px;
    font-size: 25px;
    font-weight: 500;
}

.header__nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__nav-item {
    margin: 0;
    padding: 0;
    margin-right: 30px;
    color: #3D3D3D;
}

.header__search {
    width: 256px;
    padding: 12px 14px;
    background-color: #F4F4F4;
    border: 0px;
    border-radius: 5px;
}